{#
/**
 * @file top_trumps_fields_entity.html.twig
 * Default theme implementation to present Top trumps fields entity data.
 *
 * This template is used when viewing Top trumps fields entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_top_trumps_fields_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('top_trumps_fields_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
